out/*
*.out
*.test
plot/*
__pycache__
*/__pycache__
*/*/__pycache__
dataset/*
*.db
past
mod/*
*.ipynb
!dataset/EXP
!dataset/sr25
!dataset/subgraphcount
!dataset/CSL
test/*
opt/*
pygho.egg-info
*toml
SWL
subgraphcount
ESAN
I2GNN
GNNAsKernel
NestedGNN
ProvablyPowerfulGraphNetworks_torch
experiments
SUN
*.py